{% extends 'base.html' %}\
{% load static %}
{% block title %}
  Логи
{% endblock %}
{% block body %}
    <div class="search-box">
        <form class="searchform"  method="get" action="{% url 'logs_list' %}">
            <input
                type="text"
                name="search"
                value="{{ search_query }}"
                placeholder="Введите имя"/>
            <button type="submit" class="service-btn">Найти</button>
        </form>
    </div>
    <ul>
        {% for log in page_obj %}
            <div class="ulclass">
                <li>{{ log.user.login }} - {{ log.action }}: {{ log.description }}</li>
            </div>
        {% endfor %}
    </ul>
        {% include 'inc/_paginator.html' %}
    <h2>Восстановление базы данных</h2>
    <div class="backgroundplate header-flex">
        <a class="delbtn" href="{% url 'backup_database' %}">Создать резервную копию базы данных</a>
        <form class="form-row" method="post" enctype="multipart/form-data" action="{% url 'restore_database' %}">
        {% csrf_token %}
        <input class="secondary-btn" type="file" name="backup_file" required>
        <button type="submit" class="delbtn" onclick="return confirm('Вы уверены что хотите выполнить восстановление базы данных, часть актуальный данных может быть потеряна!')">Восстановить</button>
        </form>
    </div>
{% endblock %}