{% extends 'base.html' %}
{% load static %}
{% block title %}
  Склад
{% endblock %}
{% block body %}
    <a class="secondary-btn" href="{% url 'add_stock' %}">Добавить</a>
    <ul>
  {% for stock in page_obj %}
      <div class="ulclass">
            <li class="liclass ">{{ stock.product.title }} | Линяя: {{ stock.line }} | Ячейка: {{ stock.cell }} | Количетсво: {{ stock.quantity }}</li>
            <a class="service-btn" href="{% url 'edit_stock' stock.pk %}">Изменить</a>
            <a href="{% url 'delete_stock' stock.pk %}" class="service-btn delbtn" onclick="return confirm('Вы уверены что хотите удалить объект' +
             ' {{ stock.product.title }}');">Удалить</a>
      </div>
    {% endfor %}
    </ul>
    {% include 'inc/_paginator.html' %}
{% endblock %}