{% load static %}
<div class="navi">
    <a class="glow-button" href="{% url 'logs_list' %}">Логи</a>
    <a class="glow-button" href="{% url 'delivery_times_list' %}">Время доставки</a>
    <a class="glow-button" href="{% url 'orders_list' %}">Заказы</a>
    <a class="glow-button" href="{% url 'productorders_list' %}">Товары в заказе</a>
    <a class="glow-button" href="{% url 'products_list' %}">товары</a>
    <a class="glow-button" href="{% url 'providers_list' %}">поставщики</a>
    <a class="glow-button" href="{% url 'roles_list' %}">роли</a>
    <a class="glow-button" href="{% url 'stocks_list' %}">склад</a>
    <a class="glow-button" href="{% url 'users_list' %}">пользователи</a>
    <a class="glow-button" href="{% url 'delivery_orders' %}">Доставки</a>
    <a class="glow-button" href="{% url 'order_statuss_list' %}">статусы заказа</a><br><br>
</div>

